*{
    flex-wrap: wrap;
}

.calculator{
    width: 250px;
    height: 400px;
    margin: auto;
    background-color: rgb(204, 202, 202);
    margin-top: 150px;
    padding: 10px 10px;
    border-radius: 5px;
    overflow: hidden;
    

}




